.DS_Store
__pycache__
*.pyc
*.so
*.o
*.mod
/util/approximate/voronoi/voronoi
/util/approximate/delaunay/delsparse
/util/approximate/modified_shepard/modified_shepard
/util/approximate/linear_shepard/linear_shepard
/util/approximate/embedding_interpolator/plrm
/util/approximate/plrm/plrm
/util/approximate/plrm/lux